<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ConnServlet</servlet-name>
        <servlet-class>iotbay.controller.ConnServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>ProductCreateServlet</servlet-name>
        <servlet-class>iotbay.controller.ProductCreateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductListServlet</servlet-name>
        <servlet-class>iotbay.controller.ProductListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductEditServlet</servlet-name>
        <servlet-class>iotbay.controller.ProductEditServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductUpdateServlet</servlet-name>
        <servlet-class>iotbay.controller.ProductUpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductDeleteServlet</servlet-name>
        <servlet-class>iotbay.controller.ProductDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MainPageServlet</servlet-name>
        <servlet-class>iotbay.controller.MainPageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductViewServlet</servlet-name>
        <servlet-class>iotbay.controller.ProductViewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>iotbay.controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>iotbay.controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>iotbay.controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditServlet</servlet-name>
        <servlet-class>iotbay.controller.EditServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelRegistrationServlet</servlet-name>
        <servlet-class>iotbay.controller.CancelRegistrationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateServlet</servlet-name>
        <servlet-class>iotbay.controller.UpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewParticularOrderServlet</servlet-name>
        <servlet-class>iotbay.controller.ViewParticularOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteOrderServlet</servlet-name>
        <servlet-class>iotbay.controller.DeleteOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditOrderServlet</servlet-name>
        <servlet-class>iotbay.controller.EditOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateOrderServlet</servlet-name>
        <servlet-class>iotbay.controller.UpdateOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAllOrderServlet</servlet-name>
        <servlet-class>iotbay.controller.ViewAllOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateOrderServlet</servlet-name>
        <servlet-class>iotbay.controller.CreateOrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConnServlet</servlet-name>
        <url-pattern>/ConnServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductCreateServlet</servlet-name>
        <url-pattern>/ProductCreateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductListServlet</servlet-name>
        <url-pattern>/ProductListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductEditServlet</servlet-name>
        <url-pattern>/ProductEditServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductUpdateServlet</servlet-name>
        <url-pattern>/ProductUpdateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductDeleteServlet</servlet-name>
        <url-pattern>/ProductDeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainPageServlet</servlet-name>
        <url-pattern>/MainPageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductViewServlet</servlet-name>
        <url-pattern>/ProductViewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditServlet</servlet-name>
        <url-pattern>/EditServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelRegistrationServlet</servlet-name>
        <url-pattern>/CancelRegistrationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateServlet</servlet-name>
        <url-pattern>/UpdateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewParticularOrderServlet</servlet-name>
        <url-pattern>/ViewParticularOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteOrderServlet</servlet-name>
        <url-pattern>/DeleteOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditOrderServlet</servlet-name>
        <url-pattern>/EditOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateOrderServlet</servlet-name>
        <url-pattern>/UpdateOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAllOrderServlet</servlet-name>
        <url-pattern>/ViewAllOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateOrderServlet</servlet-name>
        <url-pattern>/CreateOrderServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
