<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ConnServlet</servlet-name>
        <servlet-class>iotbay.controller.ConnServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>ProductCreateServlet</servlet-name>
        <servlet-class>iotbay.controller.ProductCreateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductListServlet</servlet-name>
        <servlet-class>iotbay.controller.ProductListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductEditServlet</servlet-name>
        <servlet-class>iotbay.controller.ProductEditServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductUpdateServlet</servlet-name>
        <servlet-class>iotbay.controller.ProductUpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductDeleteServlet</servlet-name>
        <servlet-class>iotbay.controller.ProductDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MainPageServlet</servlet-name>
        <servlet-class>iotbay.controller.MainPageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductViewServlet</servlet-name>
        <servlet-class>iotbay.controller.ProductViewServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConnServlet</servlet-name>
        <url-pattern>/ConnServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductCreateServlet</servlet-name>
        <url-pattern>/ProductCreateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductListServlet</servlet-name>
        <url-pattern>/ProductListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductEditServlet</servlet-name>
        <url-pattern>/ProductEditServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductUpdateServlet</servlet-name>
        <url-pattern>/ProductUpdateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductDeleteServlet</servlet-name>
        <url-pattern>/ProductDeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainPageServlet</servlet-name>
        <url-pattern>/MainPageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductViewServlet</servlet-name>
        <url-pattern>/ProductViewServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
